* {
 
   Color: #fff;
   Font-family: Architects Daughter, Arial, sans-serif;
   border: 1px solid #f0f;
   box-sizing: border-box;
  
}


body 	{
	padding: 0;
	margin: 0;
	overflow-y: scroll;
	background: #000 url(studio1.jpg) no-repeat 50% 50% fixed;
	background-size: contain;
	
	
	
}

img	{
	height: 150px;
	width: 500px;
}

#logo #thumbnail	{
	height: 150px;
	width: 150px;
}
#container {
	background-color: black;
	position: static;
	margin: 0 auto;
	text-align: left;
	
}



#navi {
	padding: 0;
	margin: 0;
	background-color: black;
	position: relative;
	display: inline;
}


#navi ul	{
	padding: 0;
	margin: 0;
	list-style-type: none;
	position: relative;
}

#navi ul li	{
	display: inline-block;
	
}

#navi ul li:hover	{
		background-color: red;
		text-decoration: none;
		color: white;
}

#navi ul li a, visited	{
	color: white;
	display: block;
	padding: 15px;
	text-decoration: none;
}

#navi ul li a:hover	{
	
}

#navi ul li:hover ul {
	display: block;
}



#navi ul ul {
	display:	none;
	position: absolute;
	background-color: black;
	border: 5px solid;
	
}

#navi ul ul li {
	display: block;
}

#navi ul ul li a, visited {
	color: white;
}

#navi ul ul li:hover ul	{
	display: block;
}

#navi ul ul li a:hover {
	color: white;
	background-color: red;
}

#navi ul ul li:hover {
	background-color:red;
	text-decoration: none;
}

#navi ul ul li a:hover ul {
	
}





#navi ul ul ul	{
	display:	none;
	position: relative;
	background-color: black;
	border: 5px solid;

	
}

#navi ul ul ul li {
	display: block;
}

#navi ul ul ul li, a visited {
	color: white;
}


#navi ul ul ul li a:hover {
	color: white;
}
#navi ul ul ul li:hover {
	
}


.content p 	{
	background-color: rgba(0, 0, 0, 0.7);
	height: 500px;
	width: 500px;
	overflow-y: scroll;
	display: block;
}



li	{
	padding: 0;
	margin: 0;
}

ul	{
	padding: 0;
	margin: 0;
}
