* {
 
   Color: #000;
   Font-family: Architects Daughter, Arial, sans-serif;
   border: 1px solid #f0f;
   box-sizing: border-box;
  
}


body 	{
	padding: 0;
	margin: 0;
	overflow-y: scroll;
}
#container {
	background-color: red;
	position: static;
	margin: 0 auto;
	text-align: left;
	
}



#navi {
	padding: 0;
	margin: 0;
	background-color: green;
	position: relative;
	display: inline;
}

#navi h2 {
	text-align: Center;
	width: 100;
	padding: 0;
	margin: 0;
	background-color: orange;
}


#navi ul	{
	padding: 0;
	margin: 0;
	list-style-type: none;
	position: relative;
}

#navi ul li	{
	display: inline-block;
	
}

#navi ul li:hover	{
		background-color: grey;
		text-decoration: none;
		
		
}

#navi ul li a, visited	{
	color: blue;
	display: block;
	padding: 15px;
	text-decoration: none;
}

#navi ul li a:hover	{
	
}

#navi ul li:hover ul {
	display: block;
}

#navi ul ul {
	display:	none;
	position: absolute;
	background-color: red;
	border: 5px solid;
}

#navi ul ul li {
	display: block;
}

#navi ul ul li a, visited {
	color: orange;
}

#navi ul ul li a:hover {
	color: yellow;
}

li	{
	padding: 0;
	margin: 0;
}

ul{
	padding: 0;
	margin: 0;
}
