* {
   background: 	-webkit-linear-gradient(#fff, #fff);
   Color: #000;
   Font-family: Architects Daughter, Arial, sans-serif;
   border: 1px solid #f0f;
   box-sizing: border-box;
   width: 1360px;

  
}
.logo img {
	width: 100px;
	height: 100px;
	display: block;
	margin: 10px auto;
	padding: 10px;
	position: fixed;
	clear: both;
}

.logo1 img{
	width: 600px;
	height: 100px;
}

.navi {
	text-align: Center;
	width: 1360px;
	height: 500px;
	margin: 10px auto;
	padding: 10px;
}

.navi h2 {
	text-align: Center;
	width: 200px;
	
}

.list {
	text-align: left;
}

